<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">404 - Página não encontrada</h1>
        <hr class="my-4"/>
        <p class="lead">Volte duas casas, amigx!</p>
        <span>Photo by <a href="https://unsplash.com/@aronvisuals?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Aron Visuals</a> on <a href="https://unsplash.com/s/photos/lost?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </div>
</div>