<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edição de Cliente</h1>
        <hr class="my-4"/>
        <p class="lead">Altere as informações que desejar</p>
        <span>Photo by <a href="https://unsplash.com/@heftiba?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Toa Heftiba</a> on <a href="https://unsplash.com/s/photos/people?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </div>
</div>
<div class="container">
    <app-customer-data-form [customerData]=' customerData$ | async' (customerSubmit)='updateSubmit($event)'></app-customer-data-form>
</div>