<div id="customer-card-{{customer.id}}" class="mb-3 card" style="width: 18rem;">
    <div class="card-body">
        <div class="row p-2">
            <h4 class="card-title">
                {{customer.name}}
                <button class="btn btn-primary badge badge-pill ml-1 mb-1" (click)="increaseOrder()">
                    {{customer.orderCount}}
                    <strong>+</strong>
                </button>
            </h4>
            <h5 class="card-subtitle mb-2 text-muted">{{customer.birth | date:'longDate' | titlecase}}</h5>
            <ul class="card-text list-group list-group-flush">
                <li class="list-group-item">
                    <i-bs
                        name="calendar2-check"
                        class="text-primary"
                        width="1.5rem"
                        height="1.5rem">
                    </i-bs>

                    <p>{{customer.firstOrder | date:'fullDate' | titlecase}}</p>
                </li>
                <li class="list-group-item">
                    <i-bs
                        name="telephone"
                        class="text-primary"
                        width="1.5rem"
                        height="1.5rem">
                    </i-bs>
                    <p>{{customer.phone}}</p>
                </li>
                <li class="list-group-item">
                    <i-bs
                        name="geo-alt"
                        class="text-primary"
                        width="1.5rem"
                        height="1.5rem">
                    </i-bs>
                    <p>
                        {{customer.neighborhood}},
                        {{customer.street}},
                        {{customer.streetNumber}},
                        {{customer.detail}}
                    </p>
                </li>
            </ul>
            <div class="card-actions">
                <button class="btn btn-primary card-action">
                    <i-bs
                        name="pencil"
                        class="card-edit"
                        width="1.5rem"
                        height="1.5rem">
                    </i-bs>
                    Editar
                </button>
                <button class="btn btn-primary card-action">
                    <i-bs
                        name="files"
                        class="card-edit"
                        width="1.5rem"
                        height="1.5rem">
                    </i-bs>
                    Copiar
                </button>
            </div>
        </div>
    </div>
</div>