<div class="container">
    <h2>Cadastro de Usuários</h2>
    <form>
        <div class="form-group">
            <label for="name">Nome</label>
            <input id="name" name="name" class="form-control"/>

            <label for="birth">Nascimento</label>
            <input id="birth" name="birth" type="date" class="form-control"/>
            
            <label for="first-order">Primeiro Pedido</label>
            <input id="first-order" name="first-order" type="date" class="form-control"/>
            
            <label for="order-count">Número de Pedidos</label>
            <input id="order-count" name="order-count" class="form-control"/>
            
            <label for="phone">Telefone</label>
            <input id="phone" name="phone" class="form-control"/>

            <label for="neighborhood">Bairro</label>
            <input id="neighborhood" name="neighborhood" class="form-control"/>

            <label for="street">Rua</label>
            <input id="street" name="street" class="form-control"/>

            <label for="number">Número</label>
            <input id="number" name="number" class="form-control"/>

            <label for="detail">Complemento</label>
            <input id="detail" name="detail" class="form-control"/>
            
            <button class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>