<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Cadastro de Usuário</h1>
        <hr class="my-4"/>
        <p class="lead">Informações básicas mas cruciais para manter contato com nossos maiores investidores</p>
        <span>Photo by <a href="https://unsplash.com/@charissek?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Charisse Kenion</a> on <a href="https://unsplash.com/s/photos/chocolate?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </div>
</div>
<div class="container">
    <form #form="ngForm">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
                <input id="name" name="name" class="form-control" [(ngModel)]="userData.name" required #nameField="ngModel"/>
                <div [hidden]="nameField.valid || nameField.untouched" class="alert alert-danger">Insira um nome</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="birth" class="col-sm-2 col-form-label">Nascimento</label>

            <div class="col-sm-10">
                <input id="birth" class="form-control" [ngModel]="userData.birth | date:'yyyy-MM-dd'"
                    (ngModelChange)="userData.birth = $event" type="date" name="userData.birth" />
            </div>
        </div>
        <div class="form-group row">
            <label for="first-order" class="col-sm-2 col-form-label">Primeiro Pedido</label>

            <div class="col-sm-10">
                <input id="first-order" class="form-control" [ngModel]="userData.firstOrder | date:'yyyy-MM-dd'"
                    (ngModelChange)="userData.firstOrder = $event" type="date" name="userData.firstOrder" />
            </div>
        </div>
        <div class="form-group row">
            <label for="order-count" class="col-sm-2 col-form-label">Número de Pedidos</label>

            <div class="col-sm-10">
                <input id="order-count" name="orderCount" class="form-control" [(ngModel)]="userData.orderCount" />
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Telefone</label>
            <div class="col-sm-10">
                <input id="phone" name="phone" class="form-control" [(ngModel)]="userData.phone" />
            </div>
        </div>
        <div class="form-group row">

            <label for="neighborhood" class="col-sm-2 col-form-label">Bairro</label>
            <div class="col-sm-10">
                <input id="neighborhood" name="neighborhood" class="form-control" [(ngModel)]="userData.neighborhood" />
            </div>
        </div>
        <div class="form-group row">

            <label for="street" class="col-sm-2 col-form-label">Rua</label>

            <div class="col-sm-10">
                <input id="street" name="street" class="form-control" [(ngModel)]="userData.street" />
            </div>
        </div>
        <div class="form-group row">

            <label for="number" class="col-sm-2 col-form-label">Número</label>
            <div class="col-sm-10">
                <input id="number" name="streetNumber" class="form-control" [(ngModel)]="userData.streetNumber" />
            </div>
        </div>
        <div class="form-group row">
            <label for="detail" class="col-sm-2 col-form-label">Complemento</label>
            <div class="col-sm-10">
                <input id="detail" name="detail" class="form-control" [(ngModel)]="userData.detail" />

            </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block">Cadastrar</button>
    </form>
</div>